.wrapper {
  width: 100%;
  background-color: #e0e6e3;
  position: fixed;
  top: 0;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
}

main {
  position: relative;
  top: 80px;
  z-index: 0;
  background-color: #f6f5f1;
  padding: 0px 16px;
}
footer {
  position: relative;
  top: 80px;
}

@media only screen and (min-width: 768px) {
  .menu {
    display: flex;
    justify-content: center;
  }
  .links,
  .browse {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  main {
    top: 110px;
  }
  footer {
    top: 110px;
  }
}
