.wrapper {
  width: 100%;
  background-color: #e0e6e3;
  position: fixed;
  top: 0;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
}

main {
  position: relative;
  top: 100px;
  z-index: 0;
  background-color: #f6f5f1;
}

@media only screen and (min-width: 768px) {
  body {
    max-width: 1000px;
    margin: 0px auto;
  }
  .menu {
    display: flex;
  }
  .links,
  .browse {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  main {
    max-width: 1000px;
    margin: 0px auto;
  }
}

@media only screen and (min-width: 1440px) {
  main {
    max-width: 1600px;
    margin: 0px auto;
  }
}
