.hero {
  max-width: 375px;
  margin: 0 auto;
  padding-top: 48px;
}
.hero h1 {
  font-size: 52px;
  letter-spacing: -2px;
  line-height: 110%;
  position: relative;
  color: #163a34;
  position: relative;
}

h1 span {
  position: relative;
  display: inline-block;
}
#highlight {
  position: absolute;
  height: 23px;
  content: "";
  width: 0%;
  background-color: #fe9f6b;
  left: 0;
  bottom: 13px;
  opacity: 0.4;
  border-radius: 4px;
  z-index: 0;
  transition: 2s ease-in-out all;
}

p {
  color: #395852;
  letter-spacing: -0.4px;
  font-size: 20px;
  margin-top: 32px;
  line-height: 150%;
}

.hero button {
  padding: 16px 32px;
  font-size: 20px;
  letter-spacing: -0.5px;
  font-weight: 600;
  border: 0px;
  border-radius: 10px;
  background-color: #163a34;
  color: white;
  margin-top: 32px;
  margin-bottom: 40px;
}

.hero img {
  width: 100%;
  border-radius: 3.45px;
  border: 7px solid white;
  height: fit-content;
}

#br2 {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
  #br1,
  #br2 {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    max-width: 1440px;
    padding-bottom: 96px;
  }
  .hero h1 {
    text-align: center;
  }
  .hero p {
    text-align: center;
  }
  .container {
    display: flex;
    justify-content: center;
  }
  #br2 {
    display: block;
  }
}
