.real-life {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 375px;
  margin: 0 auto;
  margin-top: 64px;
  padding-bottom: 86px;
}
.text {
  max-width: 343px;
}
.real-life h2 {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -2px;
  color: #163a34;
}
.real-life p {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.4px;
  color: #395852;
}
.text b {
  position: relative;
}
.text b::after {
  position: absolute;
  height: 12px;
  background-color: #fe9f6b;
  width: 100%;
  content: "";
  bottom: 0px;
  opacity: 0.9;
  border-radius: 3px;
  z-index: -500;
  left: 0;
}
.real-life .img-holder {
  width: 100%;
}
.real-life .img-holder img {
  width: 100%;
  border-radius: 9.78px;
}

@media only screen and (min-width: 768px) {
  .real-life {
    max-width: 768px;
  }
  .real-life .img-holder {
    width: 768px;
  }
  .text {
    max-width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .real-life {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;
  }
  .real-life .img-holder {
    max-width: 635px;
  }
  .text {
    max-width: 509px;
  }
}
