@tailwind components;
@layer components {
  .section-features {
    @apply relative z-0 my-0 mx-auto mt-16 bg-[#f6f5f1] max-w-[375px];
  }
  .section-features .flex-dusan {
    @apply flex-col;
  }
  .section-features h2 {
    @apply text-[40px] leading-[120%] tracking-[-2px] text-[#163a34] mb-8;
  }
  .feature {
    @apply mb-6;
  }
  .feature h3 {
    @apply text-[32px] leading-[130%] tracking-[-1px] text-[#163a34];
  }
  .feature p {
    @apply text-[20px] leading-[150%] tracking-[-0.4px] text-[#395852] mt-5;
  }

  .feature .img-holder {
    @apply flex justify-center w-[60px] h-[60px] bg-white rounded-[12px] mb-5;
  }
  .feature .img-holder img {
    @apply m-auto;
  }
}

@media only screen and (min-width: 768px) {
  .section-features {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1440px) {
  .section-features {
    max-width: 1440px;
  }
  .section-features h2 {
    text-align: center;
    margin-bottom: 48px;
  }
  .section-features .flex-dusan {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    width: 100%;
    gap: 32px;
    justify-content: center;
    padding-bottom: 96px;
  }
}
