@tailwind components;
@layer components {
  footer {
    @apply py-[10px] bg-[#f6f5f1];
  }
  footer .flex-dusan {
    @apply flex flex-col mx-auto gap-6 p-8 max-w-[375px];
  }
  footer .social {
    @apply flex justify-center gap-6;
  }
  footer .social img {
    @apply w-6;
  }
  footer .text {
    @apply text-center;
  }
  footer .text p {
    @apply text-[16px] text-[#395852];
  }
}

@media only screen and (min-width: 768px) {
  footer .flex-dusan {
    max-width: 768px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1440px) {
  footer .flex-dusan {
    max-width: 1440px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
