@tailwind components;
@layer components {
  .mission-section * {
    @apply m-0 p-0;
  }
  .mission-section {
    @apply w-fit p-[48px_0px] m-0 mx-auto;
  }
  .heading {
    @apply w-fit;
  }
  #p1 {
    @apply text-[20px] text-[#163a34] font-bold bg-[#fe9f6b] w-fit p-[2px_8px] rounded-[8px];
  }
  .mission-section .text:first-child {
    @apply text-[#395852];
  }
  .mission-section .text h1 {
    @apply my-[24px] text-[#163a34] text-[40px] font-extrabold;
  }
  .mission-section .text p:last-child {
    @apply mt-[16px];
  }
  .mission-section .image-holder {
    @apply flex mt-[40px] max-w-[343px];
  }
  .image-holder img {
    @apply w-full rounded-[15px];
  }
  .mission-section ul {
    @apply list-disc ml-4;
  }
  .mission-section ul li:hover {
    @apply transform-none;
  }
}

@media only screen and (min-width: 768px) {
  .mission-section .image-holder {
    max-width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .mission-section .image-holder {
    max-width: 618px;
  }
  .mission-section {
    display: flex;
    gap: 64px;
    align-items: center;
  }
}
