@tailwind components;
@layer components {
  .real-life {
    @apply relative z-0 my-0 mx-auto mt-16 max-w-[375px] flex flex-col gap-8 pb-[86px];
  }
  .text {
    @apply max-w-[343px];
  }
  .real-life h2 {
    @apply text-[40px] leading-[120%] tracking-[-2px] text-[#163a34];
  }
  .real-life p {
    @apply text-[20px] leading-[150%] tracking-[-0.4px] text-[#395852] mt-5;
  }
  .text b {
    @apply relative;
  }
  .text b::after {
    @apply absolute h-[12px] bg-[#fe9f6b] w-full content-[''] bottom-0 opacity-90 rounded-[3px] -z-50 left-0;
  }
  .real-life .img-holder {
    @apply w-full;
  }
  .real-life .img-holder img {
    @apply w-full rounded-[9.78px];
  }
}

@media only screen and (min-width: 768px) {
  .real-life {
    max-width: 768px;
  }
  .real-life .img-holder {
    width: 768px;
  }
  .text {
    max-width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .real-life {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;
  }
  .real-life .img-holder {
    max-width: 635px;
  }
  .text {
    max-width: 509px;
  }
}
