@tailwind components;
@layer components {
  .we-exists-section ul li:hover {
    @apply transform-none;
  }
  .we-exists-section * {
    @apply m-0 p-0;
  }
  .we-exists-section {
    @apply my-[96px] mx-auto flex flex-col gap-[40px] justify-center max-w-[343px];
  }
  .we-exists-section h1 {
    @apply text-[40px] leading-[120%] font-extrabold tracking-[-2px] text-[#163a34];
  }
  .points {
    @apply list-none pl-0 mx-auto;
  }
  .points li {
    @apply relative pl-14;
  }
  .points h3 {
    @apply text-[24px] font-bold text-[#163a34];
  }
  .points li p {
    @apply text-[18px] text-[#395852] leading-[150%] tracking-[-0.4px];
  }
  .points li::before {
    @apply content-[''] absolute left-0 top-0 w-8 h-8 bg-no-repeat bg-contain;
    background-image: url("/images/icon-bullet-point.svg");
  }
  .box {
    @apply relative;
  }
  .we-exists-section ul li {
    @apply mb-6 w-[343px];
  }
}

.points li::before {
  content: "";
  position: absolute;
  left: 0;

  top: 0; /* ovde kontrolišeš vertikalni pomak */
  width: 32px;
  height: 32px;
  background-image: url("images/icon-bullet-point.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
  .we-exists-section {
    max-width: 768px;
  }

  .we-exists-section ul li {
    width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .we-exists-section {
    flex-direction: row;
    justify-content: center;
    column-gap: 130px;
  }
  .we-exists-section .heading h1 {
    width: 350px;
  }
  .we-exists-section .points {
    margin: 0;
  }
}
